Importing libaries and data set.

In [276]:
import pandas as pd
import numpy as np
import seaborn as sns

In [277]:
file = "data_100000.csv"
df = pd.read_csv(file)
df.head(50)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 29 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   crash_date                     100000 non-null  object
 1   crash_time                     100000 non-null  object
 2   borough                        64974 non-null   object
 3   zip_code                       64966 non-null   float64
 4   latitude                       91965 non-null   float64
 5   longitude                      91965 non-null   float64
 6   location                       91965 non-null   object
 7   on_street_name                 73991 non-null   object
 8   off_street_name                47125 non-null   object
 9   cross_street_name              25967 non-null   object
 10  number_of_persons_injured      100000 non-null  int64
 11  number_of_persons_killed       100000 non-null  int64
 12  number_of_pedestrians_injured  100000 non-null  int64
 13  number_of_pedestrians_killed   100000 non-null  int64
 14  number_of_cyclist_injured      100000 non-null  int64
 15  number_of_cyclist_killed       100000 non-null  int64
 16  number_of_motorist_injured     100000 non-null  int64
 17  number_of_motorist_killed      100000 non-null  int64
 18  contributing_factor_vehicle_1  99629 non-null   object
 19  contributing_factor_vehicle_2  80757 non-null   object
 20  contributing_factor_vehicle_3  8761 non-null    object
 21  contributing_factor_vehicle_4  2240 non-null    object
 22  contributing_factor_vehicle_5  667 non-null     object
 23  collision_id                   100000 non-null  int64
 24  vehicle_type_code1             99260 non-null   object
 25  vehicle_type_code2             73411 non-null   object
 26  vehicle_type_code_3            8329 non-null    object
 27  vehicle_type_code_4            2147 non-null    object
 28  vehicle_type_code_5            646 non-null     object
dtypes: float64(3), int64(9), object(17)
memory usage: 22.1+ MB

Getting to know my data: dtypes, and shape.

In [278]:
df.shape
# 100000 rows and 42 columns
df.dtypes

crash_date                        object
crash_time                        object
borough                           object
zip_code                         float64
latitude                         float64
longitude                        float64
location                          object
on_street_name                    object
off_street_name                   object
cross_street_name                 object
number_of_persons_injured          int64
number_of_persons_killed           int64
number_of_pedestrians_injured      int64
number_of_pedestrians_killed       int64
number_of_cyclist_injured          int64
number_of_cyclist_killed           int64
number_of_motorist_injured         int64
number_of_motorist_killed          int64
contributing_factor_vehicle_1     object
contributing_factor_vehicle_2     object
contributing_factor_vehicle_3     object
contributing_factor_vehicle_4     object
contributing_factor_vehicle_5     object
collision_id                       int64
vehicle_type_code1                object
vehicle_type_code2                object
vehicle_type_code_3               object
vehicle_type_code_4               object
vehicle_type_code_5               object
dtype: object

Dropping columns with redundancy , ID and categorical in location.

In [279]:
#starting by making a copy
df_copy = df.copy()

In [280]:
df_copy = df_copy.drop(columns=["zip_code", "borough", "location", "on_street_name", "off_street_name", "cross_street_name"])

In [281]:
df_copy = df_copy.drop(columns="collision_id")
df_copy.head()

,crash_date,crash_time,latitude,longitude,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,...,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2017-04-18T00:00:00.000,23:10,40.536728,-74.193344,0,0,0,0,0,0,...,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,2017-05-06T00:00:00.000,13:00,40.829052,-73.850380,1,0,1,0,0,0,...,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,Sedan,NaN,NaN,NaN,NaN
2,2017-04-27T00:00:00.000,17:15,40.677303,-73.804565,0,0,0,0,0,0,...,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,Sedan,Sedan,NaN,NaN,NaN
3,2017-05-09T00:00:00.000,20:10,40.624958,-74.145775,1,0,0,0,0,0,...,Unspecified,Unspecified,Unspecified,NaN,NaN,Motorcycle,Sedan,Bus,NaN,NaN
4,2017-04-18T00:00:00.000,14:00,40.828846,-73.903120,0,0,0,0,0,0,...,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

Change data types.

In [282]:
df_copy["crash_date"] = pd.to_datetime(df_copy.crash_date)
df_copy.dtypes
df_copy["crash_time"] = pd.to_datetime(df_copy.crash_time)
df_copy.dtypes

crash_date                       datetime64[ns]
crash_time                       datetime64[ns]
latitude                                float64
longitude                               float64
number_of_persons_injured                 int64
number_of_persons_killed                  int64
number_of_pedestrians_injured             int64
number_of_pedestrians_killed              int64
number_of_cyclist_injured                 int64
number_of_cyclist_killed                  int64
number_of_motorist_injured                int64
number_of_motorist_killed                 int64
contributing_factor_vehicle_1            object
contributing_factor_vehicle_2            object
contributing_factor_vehicle_3            object
contributing_factor_vehicle_4            object
contributing_factor_vehicle_5            object
vehicle_type_code1                       object
vehicle_type_code2                       object
vehicle_type_code_3                      object
vehicle_type_code_4                      object
vehicle_type_code_5                      object
dtype: object

Counting misssing values in each column.

In [283]:
df_copy.isnull().sum()

crash_date                           0
crash_time                           0
latitude                          8035
longitude                         8035
number_of_persons_injured            0
number_of_persons_killed             0
number_of_pedestrians_injured        0
number_of_pedestrians_killed         0
number_of_cyclist_injured            0
number_of_cyclist_killed             0
number_of_motorist_injured           0
number_of_motorist_killed            0
contributing_factor_vehicle_1      371
contributing_factor_vehicle_2    19243
contributing_factor_vehicle_3    91239
contributing_factor_vehicle_4    97760
contributing_factor_vehicle_5    99333
vehicle_type_code1                 740
vehicle_type_code2               26589
vehicle_type_code_3              91671
vehicle_type_code_4              97853
vehicle_type_code_5              99354
dtype: int64

MISTAKE:Dropping columns that have more then 1/3 of missing values (more then 33333), namely vehicle_type_code_5, vehicle_type_code_4,
vehicle_type_code_3, contributing_factor_vehicle_5, contributing_factor_vehicle_4, contributing_factor_vehicle_3.

In [284]:
#df_copy = df_copy.drop(columns=["vehicle_type_code_5", "vehicle_type_code_4", "vehicle_type_code_3",
#                                "contributing_factor_vehicle_5", "contributing_factor_vehicle_4", "contributing_factor_vehicle_3"])

Renaming columns vehicle_type_code1 and vehicle_type_code2  for conformity.

In [285]:
df_copy = df_copy.rename(columns={"vehicle_type_code2": "vehicle_type_code_2", "vehicle_type_code1": "vehicle_type_code_1"})

In [286]:
df_copy.isnull().sum()
df_copy.shape

(100000, 22)

Getting to know the last 4 columns and tranforming all names into lower case.

In [287]:
df_copy["vehicle_type_code_1"] = df_copy["vehicle_type_code_1"].str.lower()
df_copy["vehicle_type_code_2"] = df_copy["vehicle_type_code_2"].str.lower()
df_copy["vehicle_type_code_3"] = df_copy["vehicle_type_code_3"].str.lower()
df_copy["vehicle_type_code_4"] = df_copy["vehicle_type_code_4"].str.lower()
df_copy["vehicle_type_code_5"] = df_copy["vehicle_type_code_5"].str.lower()
df_copy["contributing_factor_vehicle_1"] = df_copy["contributing_factor_vehicle_1"].str.lower()
df_copy["contributing_factor_vehicle_2"] = df_copy["contributing_factor_vehicle_2"].str.lower()
df_copy["contributing_factor_vehicle_3"] = df_copy["contributing_factor_vehicle_3"].str.lower()
df_copy["contributing_factor_vehicle_4"] = df_copy["contributing_factor_vehicle_4"].str.lower()
df_copy["contributing_factor_vehicle_5"] = df_copy["contributing_factor_vehicle_5"].str.lower()

df_copy.contributing_factor_vehicle_1.unique()

array(['driver inattention/distraction', 'failure to yield right-of-way',
       'unspecified', 'unsafe lane changing',
       'passing or lane usage improper', 'other vehicular',
       'passing too closely', 'backing unsafely',
       'traffic control disregarded', 'driver inexperience',
       'unsafe speed', 'following too closely', 'obstruction/debris',
       'turning improperly',
       'pedestrian/bicyclist/other pedestrian error/confusion',
       'pavement slippery', 'aggressive driving/road rage',
       'reaction to uninvolved vehicle', 'steering failure',
       'oversized vehicle', 'view obstructed/limited',
       'traffic control device improper/non-working', 'fell asleep',
       'glare', 'passenger distraction', 'accelerator defective',
       'failure to keep right', 'alcohol involvement',
       'outside car distraction', 'brakes defective', nan,
       'pavement defective', 'driverless/runaway vehicle',
       'fatigued/drowsy', 'animals action', 'tire failure/inadequate',
       'lane marking improper/inadequate', 'physical disability',
       'illnes', 'cell phone (hand-held)', 'lost consciousness',
       'drugs (illegal)', 'other lighting defects',
       'shoulders defective/improper', 'tinted windows',
       'using on board navigation device', 'cell phone (hands-free)',
       'vehicle vandalism', 'tow hitch defective',
       'prescription medication', 'listening/using headphones',
       'eating or drinking', 'headlights defective',
       'other electronic device', 'windshield inadequate'], dtype=object)

In [288]:
df_copy.contributing_factor_vehicle_2.unique()

array(['unspecified', nan, 'other vehicular',
       'failure to yield right-of-way', 'backing unsafely',
       'driver inattention/distraction', 'turning improperly',
       'unsafe lane changing', 'following too closely',
       'pavement slippery', 'aggressive driving/road rage',
       'traffic control device improper/non-working',
       'passing too closely', 'passing or lane usage improper',
       'pedestrian/bicyclist/other pedestrian error/confusion',
       'driver inexperience', 'unsafe speed', 'oversized vehicle',
       'passenger distraction', 'outside car distraction',
       'traffic control disregarded', 'reaction to uninvolved vehicle',
       'obstruction/debris', 'failure to keep right', 'fatigued/drowsy',
       'alcohol involvement', 'view obstructed/limited', 'glare',
       'lane marking improper/inadequate', 'illnes',
       'accelerator defective', 'pavement defective',
       'tire failure/inadequate', 'brakes defective',
       'tow hitch defective', 'driverless/runaway vehicle',
       'animals action', 'lost consciousness', 'tinted windows',
       'using on board navigation device', 'headlights defective',
       'fell asleep', 'listening/using headphones',
       'other lighting defects', 'steering failure', 'drugs (illegal)',
       'cell phone (hand-held)', 'other electronic device'], dtype=object)

In [289]:
df_copy.vehicle_type_code_1.unique()

array(['station wagon/sport utility vehicle', 'sedan', 'motorcycle',
       'taxi', 'pick-up truck', 'ambulance', 'tractor truck diesel',
       'bus', nan, 'box truck', 'bike', 'deliv', 'van', 'tower', 'pas',
       'tanker', 'flat bed', 'convertible', 'motorscooter', 'moped',
       'e-350', 'passenger vehicle', 'rv',
       'sport utility / station wagon', 'garbage or refuse',
       'chassis cab', 'self', 'concrete mixer', 'tractor truck gasoline',
       '2 dr sedan', 'tow truck / wrecker', 'beverage truck', 'flat rack',
       'carry all', 'motorbike', 'refg', '4 dr sedan', 'bulk agriculture',
       'pk', 'posta', 'tract', 'e-bike', 'delv', 'amb', 'mack',
       'lift boom', '3-door', 'small com veh(4 tires) ', 'winne', 'ambul',
       'p/sh', 'dump', 'refrigerated van', 'bobca', 'school bus', 'truck',
       'armored truck', 'unkno', 'white', 'com', '4d', 'box t',
       'e-scooter', 'fire', 'util', 'ladder 34', '4ds', 'van camper',
       'e-sco', 'golf', 'stake or rack', 'e-bik', 'cont', 'ltr', 'scoot',
       'forkl', 'motorized home', 'const', 'trail', 'other', 'limo',
       'parce', 'open body', 'ut', 'city', 'van t', 'picku', 'fdny',
       'vespa', 'comme', 'pu', 'pickup with mounted camper', 'boxtr',
       'backh', 'cat.', 'ambu', 'wineb', 'polic', 'hi ta', 'e bik',
       'prks', 'lunch wagon', 'pick-', 'tow truck', 'pedicab', 'mini',
       'g spc', 'multi-wheeled vehicle', '35 ft', 'trlr', 'excav',
       'stree', 'fork', 'minibike', 'tow t', 'tk', 'nys a', 'bs', 'firet',
       'towtr', 'appor', 'mobil', 'sprin', 'power', 'back', 'dirt', 'trl',
       'utili', 'rmp v', 'trk', 'elect', 'uhaul', 'limou', 'usps',
       'fire truck', 'mta', 'mta b', 'minicycle', 'us po', 'btm', 'schoo',
       'comm.', 'range', 'trac', 'bulld',
       'enclosed body - nonremovable enclosure', 'pick up tr',
       'skateboard', 'tractor tr', 'smart car', 'swt', 'front-load',
       'courier', 'psd', 'drill rig', 'fdny ladde', 'pick up',
       'fdny ambul', 'suv', 'garbage tr', 'fire engin', 'motor skat',
       'scooter', 'gen  ambul', 'delivery', 'unknown', 'unk',
       'flatbed fr', 'power shov', 'dilevery t', 'work van', 'f550',
       'forlift', 'message si', 'trailer', 'truck flat', 'lawnmower',
       'fdny ems', 'firtruck', 'utility', 'dark color', 'truck van',
       'delivery t', 'oth', 'pumper', 'can', 'e-unicycle', 'golf cart',
       'forklift', 'ford van', 'ambulace', 'firetruck', 'leased amb',
       'pc', 'fdny truck', 'cement tru', 'usps/govt', 'dump truck',
       'flat', 'almbulance', 'box', 'fork lift', 'fdny fire',
       'government', 'utility ve', 'unkn', 'ups truck', 'livestock rack',
       'light trai', 'e revel sc', 'j1', 'go kart', 'fdny engin', '1c',
       'gator', 'freight fl', 'john deere', 'backhoe', 'fdny #226',
       'suburban', 'wh ford co', 'commercial', 'motorscoot', 'cat',
       'food truck', 'mta bus', 'fd ladder', 'tractor', 'slingshot',
       'cargo van', 'road sweep', 'chevy expr', 'abulance', 'moving van',
       'electric s', 'mail truck', 'delivery v', 'horse', 'ambulence',
       'bobcat for', '18 wheeler', 'bucket tru', 'cross', 'usps van',
       'flatbed', 'elec. unic', 'usps truck', 'dot equipm', 'freight',
       'postal tru', 'freig delv', 'chevrolet', 'dirt bike', 'camper tra',
       'nyc fd', 'utility.', 'white ambu', 'freight tr', 'nyc ambula',
       'mechanical', 'f150xl pic', 'trc', 'f-250', 'lcomm', 'fusion',
       'hrse', '0', 'subn whi', 'e skate bo', 'ems', 'postal bus',
       'enclosed body - removable enclosure', 'motor scoo', 'e bike',
       'ford sprin', 'pick-up tr', 'back hoe', 'freig', 'usps posta',
       'well driller', 'e450', 'paylo'], dtype=object)

In [290]:
df_copy.vehicle_type_code_2.unique()

array([nan, 'sedan', 'station wagon/sport utility vehicle', 'box truck',
       'pas', 'motorcycle', 'bike', 'tractor truck diesel',
       'pick-up truck', 'taxi', 'garbage or refuse', 'unkno', '3-door',
       'dump', 'van', 'convertible', 'bus', 'carry all', '4 dr sedan',
       'pk', 'school bus', 'food', 'moped', 'uhaul', 'trail',
       'armored truck', 'small com veh(4 tires) ',
       'sport utility / station wagon', 'fdny', 'usps', 'cemen',
       'well driller', 'van camper', 'flat bed', 'chassis cab',
       'tow truck / wrecker', 'truck', 'tuck', 'delv',
       'tractor truck gasoline', 'tanker', 'concrete mixer',
       'refrigerated van', 'psd', 'rv', 'box t', 'unknown', 'firet',
       'com', 'fdny firet', 'ambul', 'fire', 'ambulance', 'lift boom',
       'unk', 'intl', 'schoo', 'tow t', 'motor', 'polic', 'p/sh', 'deliv',
       'beverage truck', 'passenger vehicle', 'e-bik', 'mta b', 'e-sco',
       'crane', 'motorbike', 'stake or rack', 'forkl', 'mail', 'dirtb',
       'movin', 'minibike', 'garba', 'ip', 'lift', 'other', 'refg',
       'glass rack', 'motorscooter', 'pass', 'us po', 'e350', 'boom',
       'lunch wagon', 'flat rack', 'bulk agriculture', 'yello', 'mack',
       'train', 'hopper', 'pickup with mounted camper', 'limo', 'detac',
       'backh', 'tra/r', 'multi-wheeled vehicle', 'trans', 'minicycle',
       'scoot', 'stree', 'rep', 'e250', 'e sco', 'pick up', 'sprin',
       'bulld', 'ford', 'snow plow', 'us govt ve', 'fire truck', 'subn',
       'e-scooter', 'art m', 'aspha', 'work', 'skate', 'depar', 'e bik',
       'black', 'pedicab', 'fork', 'livery vehicle', 'alumi', 'elect',
       'pallet', 'dp', 'tract', 'john', 'trlr', 'utili', 'motorized home',
       'bobca', 'van t', 'cat32', 'flat', 'self-', 'campe', 'tower',
       'jlg l', 'util wh', 'enclosed body - nonremovable enclosure',
       'open body', 'engin', 'vanette', 'wagon', 'fed e', 'churc',
       'van (', 'tow truck', 'const', 'ambu', 'box', 'e-bike', 'post',
       'pick', 'hand', 'amb', 'uspos', 'enclo', 'mini van', 'u-haul',
       'street swe', 'backhoe lo', 'cargo van', 'internatio',
       'moped scoo', 'nyc firetr', 'scooter', 'uknown', 'dirt bike',
       'moped elec', 'revel', 'john deere', 'flatbed', 'dirtbike',
       'tractor tr', 'unknown ve', 'delivery t', 'util', 'constructi',
       'mta truck', 'electric m', 'power shov', 'trl', 'sanitation',
       'electric s', '2 dr sedan', 'fdny truck', 'firetruck',
       'commercial', 'postal tru', 'tilt tande', 'i1', 'pickup',
       'dump truck', 'lawn mower', 'fire engin', 'gator', 'skateboard',
       'tractor', 'trailer', 'garbage tr', 'trac', 'e scooter',
       'pick up tr', 'sweeper', 'fleet', 'transport', 'left the s',
       'motor scoo', 'c1', '4dsd', 'street cle', 'mailtruck',
       'truck trai', 'boom lift', 'escooter', 'folk lift', 'forklift',
       'uhaul truc', 'nyc acs va', 'mopd', 'bob cat', 'vehicle 2', 'ukn',
       'fdny fire', 'golf cart', 'push scoot', 'utility tr', 'razor scoo',
       'escovator', 'mail truck', 'ambulence', 'suv', 'commerical',
       'freightlin', 'palfinger', 'fdny ems', 'special pu', 'ice cream',
       'haul for h', 'ems truck', 'tree cutte', 'e-skateboa',
       'usps posta', 'van/transi', 'fdny ambul', 'ram', 'gas scoote',
       'horse', 'toyota', 'usps truck', 'frieghtlin', 'nyc bus', 'mobile',
       'glp050vxev', 'pick truck', 'rds', 'frt', 'e-scoter', 'pc',
       'pick-up tr', 'access a r', 'fd truck', 'lcom', 'skid loade',
       'itas', 'jetski', 'delivery v', 'cargo truc', 'tl', 'hearse',
       't630 forkl', 'fork lift', 'light trai', 'road sweep', 'lma',
       'amazon spr', '18 weeler', 'glnen', 'e-ska', 'schoolbus', 'spec-',
       'ladder tru', 'ebike'], dtype=object)

Renaming e bike, e-bik and ebike to e-bike.

In [291]:
df_copy["vehicle_type_code_1"] = df_copy["vehicle_type_code_1"].replace(['e bike', 'e-bik', 'ebike', 'e bik'],"e_bike")
df_copy["vehicle_type_code_2"] = df_copy["vehicle_type_code_2"].replace(['e bike', 'e-bik', 'ebike', 'e bik'],"e_bike")
df_copy["vehicle_type_code_3"] = df_copy["vehicle_type_code_3"].replace(['e bike', 'e-bik', 'ebike', 'e bik'],"e_bike")
df_copy["vehicle_type_code_4"] = df_copy["vehicle_type_code_4"].replace(['e bike', 'e-bik', 'ebike', 'e bik'],"e_bike")
df_copy["vehicle_type_code_5"] = df_copy["vehicle_type_code_5"].replace(['e bike', 'e-bik', 'ebike', 'e bik'],"e_bike")

Renaming e escooter, to e-scooter.

In [292]:
df_copy["vehicle_type_code_1"] = df_copy["vehicle_type_code_1"].replace(['escooter', 'e-sco'],"e_scooter")
df_copy["vehicle_type_code_2"] = df_copy["vehicle_type_code_2"].replace(['escooter', 'e-sco'],"e_scooter")
df_copy["vehicle_type_code_3"] = df_copy["vehicle_type_code_3"].replace(['escooter', 'e-sco'],"e_scooter")
df_copy["vehicle_type_code_4"] = df_copy["vehicle_type_code_4"].replace(['escooter', 'e-sco'],"e_scooter")
df_copy["vehicle_type_code_5"] = df_copy["vehicle_type_code_5"].replace(['escooter', 'e-sco'],"e_scooter")

In [293]:
df_copy["vehicle_type_code_1"] = df_copy["vehicle_type_code_1"].replace(['delivery v', 'delv'],"delivery_vehicle")
df_copy["vehicle_type_code_2"] = df_copy["vehicle_type_code_2"].replace(['delivery v', 'delv'],"delivery_vehicle")
df_copy["vehicle_type_code_3"] = df_copy["vehicle_type_code_3"].replace(['delivery v', 'delv'],"delivery_vehicle")
df_copy["vehicle_type_code_4"] = df_copy["vehicle_type_code_4"].replace(['delivery v', 'delv'],"delivery_vehicle")
df_copy["vehicle_type_code_5"] = df_copy["vehicle_type_code_5"].replace(['delivery v', 'delv'],"delivery_vehicle")

Empty rows.

In [294]:
df_copy.isnull().sum()

crash_date                           0
crash_time                           0
latitude                          8035
longitude                         8035
number_of_persons_injured            0
number_of_persons_killed             0
number_of_pedestrians_injured        0
number_of_pedestrians_killed         0
number_of_cyclist_injured            0
number_of_cyclist_killed             0
number_of_motorist_injured           0
number_of_motorist_killed            0
contributing_factor_vehicle_1      371
contributing_factor_vehicle_2    19243
contributing_factor_vehicle_3    91239
contributing_factor_vehicle_4    97760
contributing_factor_vehicle_5    99333
vehicle_type_code_1                740
vehicle_type_code_2              26589
vehicle_type_code_3              91671
vehicle_type_code_4              97853
vehicle_type_code_5              99354
dtype: int64

In [295]:
conditions_to_drop = ((df_copy["latitude"].isnull()) & (df_copy["contributing_factor_vehicle_1"].isnull())
 & (df_copy["vehicle_type_code_1"].isnull()) & (df_copy["longitude"].isnull()) 
 & (df_copy["contributing_factor_vehicle_2"].isnull()) & (df_copy["vehicle_type_code_2"].isnull()) & (df_copy["latitude"].isnull()) & (df_copy["contributing_factor_vehicle_3"].isnull())
 & (df_copy["vehicle_type_code_3"].isnull()) & (df_copy["longitude"].isnull()) 
 & (df_copy["contributing_factor_vehicle_4"].isnull()) & (df_copy["vehicle_type_code_4"].isnull())
 & (df_copy["contributing_factor_vehicle_5"].isnull()) & (df_copy["vehicle_type_code_5"].isnull()))

#df_copy.drop(
df.drop(conditions_to_drop.index, inplace=True)

Dropping duplicates.

In [296]:
df_copy.duplicated().value_counts()
df_copy.drop_duplicates(inplace=True)

In [297]:
df_copy.columns

Index(['crash_date', 'crash_time', 'latitude', 'longitude',
       'number_of_persons_injured', 'number_of_persons_killed',
       'number_of_pedestrians_injured', 'number_of_pedestrians_killed',
       'number_of_cyclist_injured', 'number_of_cyclist_killed',
       'number_of_motorist_injured', 'number_of_motorist_killed',
       'contributing_factor_vehicle_1', 'contributing_factor_vehicle_2',
       'contributing_factor_vehicle_3', 'contributing_factor_vehicle_4',
       'contributing_factor_vehicle_5', 'vehicle_type_code_1',
       'vehicle_type_code_2', 'vehicle_type_code_3', 'vehicle_type_code_4',
       'vehicle_type_code_5'],
      dtype='object')

In [298]:
df_copy.head(50)

,crash_date,crash_time,latitude,longitude,number_of_persons_injured,number_of_persons_killed,number_of_pedestrians_injured,number_of_pedestrians_killed,number_of_cyclist_injured,number_of_cyclist_killed,...,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,vehicle_type_code_1,vehicle_type_code_2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2017-04-18,2021-07-05 23:10:00,40.536728,-74.193344,0,0,0,0,0,0,...,driver inattention/distraction,unspecified,NaN,NaN,NaN,station wagon/sport utility vehicle,NaN,NaN,NaN,NaN
1,2017-05-06,2021-07-05 13:00:00,40.829052,-73.850380,1,0,1,0,0,0,...,failure to yield right-of-way,NaN,NaN,NaN,NaN,sedan,NaN,NaN,NaN,NaN
2,2017-04-27,2021-07-05 17:15:00,40.677303,-73.804565,0,0,0,0,0,0,...,driver inattention/distraction,unspecified,NaN,NaN,NaN,sedan,sedan,NaN,NaN,NaN
3,2017-05-09,2021-07-05 20:10:00,40.624958,-74.145775,1,0,0,0,0,0,...,unspecified,unspecified,unspecified,NaN,NaN,motorcycle,sedan,bus,NaN,NaN
4,2017-04-18,2021-07-05 14:00:00,40.828846,-73.903120,0,0,0,0,0,0,...,driver inattention/distraction,unspecified,NaN,NaN,NaN,sedan,station wagon/sport utility vehicle,NaN,NaN,NaN
5,2017-05-08,2021-07-05 10:33:00,40.556454,-74.207770,0,0,0,0,0,0,...,unsafe lane changing,unspecified,NaN,NaN,NaN,sedan,sedan,NaN,NaN,NaN
6,2017-05-10,2021-07-05 06:10:00,40.740025,-73.976260,0,0,0,0,0,0,...,passing or lane usage improper,unspecified,NaN,NaN,NaN,taxi,box truck,NaN,NaN,NaN
7,2017-04-24,2021-07-05 09:30:00,40.651646,-73.932330,0,0,0,0,0,0,...,other vehicular,other vehicular,NaN,NaN,NaN,station wagon/sport utility vehicle,station wagon/sport utility vehicle,NaN,NaN,NaN
8,2017-04-14,2021-07-05 13:00:00,40.751800,-73.817314,0,0,0,0,0,0,...,passing too closely,unspecified,NaN,NaN,NaN,sedan,station wagon/sport utility vehicle,NaN,NaN,NaN
9,2017-05-02,2021-07-05 01:00:00,40.816864,-73.882744,0,0,0,0,0,0,...,unspecified,NaN,NaN,NaN,NaN,pick-up truck,NaN,NaN,NaN,NaN
10,2017-05-01,2021-07-05 14:30:00,40.639614,-74.087270,0,0,0,0,0,0,...,unspecified,unspecified,NaN,NaN,NaN,station wagon/sport utility vehicle,pas,NaN,NaN,NaN
11,2017-04-29,2021-07-05 08:45:00,40.714230,-73.853860,0,0,0,0,0,0,...,unspecified,NaN,NaN,NaN,NaN,sedan,NaN,NaN,NaN,NaN
12,2017-05-01,2021-07-05 10:30:00,40.602757,-73.963770,0,0,0,0,0,0,...,unspecified,unspecified,NaN,NaN,NaN,station wagon/sport utility vehicle,station wagon/sport utility vehicle,NaN,NaN,NaN
13,2017-04-16,2021-07-05 15:50:00,40.652973,-73.944010,3,0,0,0,0,0,...,unspecified,unspecified,NaN,NaN,NaN,station wagon/sport utility vehicle,sedan,NaN,NaN,NaN
14,2017-04-25,2021-07-05 18:00:00,40.610740,-73.922410,0,0,0,0,0,0,...,driver inattention/distraction,unspecified,NaN,NaN,NaN,station wagon/sport utility vehicle,NaN,NaN,NaN,NaN
15,2017-04-22,2021-07-05 07:00:00,40.691680,-73.999344,1,0,0,0,0,0,...,unspecified,NaN,NaN,NaN,NaN,pick-up truck,NaN,NaN,NaN,NaN
16,2017-04-20,2021-07-05 18:00:00,40.886536,-73.899850,0,0,0,0,0,0,...,unspecified,NaN,NaN,NaN,NaN,station wagon/sport utility vehicle,NaN,NaN,NaN,NaN
17,2017-05-06,2021-07-05 14:10:00,40.686234,-73.824180,0,0,0,0,0,0,...,backing unsafely,unspecified,NaN,NaN,NaN,station wagon/sport utility vehicle,sedan,NaN,NaN,NaN
18,2017-04-28,2021-07-05 22:14:00,40.859875,-73.893230,3,0,0,0,0,0,...,unspecified,unspecified,NaN,NaN,NaN,station wagon/sport utility vehicle,station wagon/sport utility vehicle,NaN,NaN,NaN
19,2017-05-05,2021-07-05 16:30:00,40.848255,-73.909760,0,0,0,0,0,0,...,unspecified,unspecified,NaN,NaN,NaN,station wagon/sport utility vehicle,sedan,NaN,NaN,NaN
20,2017-04-19,2021-07-05 22:13:00,40.835358,-73.940220,1,0,1,0,0,0,...,unspecified,NaN,NaN,NaN,NaN,station wagon/sport utility vehicle,NaN,NaN,NaN,NaN
21,2017-04-27,2021-07-05 15:56:00,40.727753,-73.858610,0,0,0,0,0,0,...,backing unsafely,other vehicular,NaN,NaN,NaN,sedan,station wagon/sport utility vehicle,NaN,NaN,NaN
22,2017-05-02,2021-07-05 22:30:00,40.666702,-73.767310,0,0,0,0,0,0,...,failure to yield right-of-way,unspecified,NaN,NaN,NaN,station wagon/sport utility vehicle,station wagon/sport utility vehicle,NaN,NaN,NaN
23,2017-05-08,2021-07-05 23:30:00,40.663220,-73.893654,8,0,0,0,0,0,...,traffic control disregarded,failure to yield right-of-way,unspecified,unspecified,NaN,ambulance,station wagon/sport utility vehicle,sedan,station wagon/sport utility vehicle,NaN
24,2018-02-17,2021-07-05 14:30:00,NaN,NaN,0,0,0,0,0,0,...,driver inattention/distraction,unspecified,NaN,NaN,NaN,sedan,sedan,NaN,NaN,NaN
25,2019-12-04,2021-07-05 15:30:00,NaN,NaN,0,0,0,0,0,0,...,unspecified,NaN,NaN,NaN,NaN,tractor truck diesel,NaN,NaN,NaN,NaN
26,2017-09-12,2021-07-05 17:59:00,NaN,NaN,0,0,0,0,0,0,...,driver inexperience,NaN,NaN,NaN,NaN,bus,NaN,NaN,NaN,NaN
27,2017-05-07,2021-07-05 15:00:00,NaN,NaN,0,0,0,0,0,0,...,unspecified,NaN,NaN,NaN,NaN,station wagon/sport utility vehicle,NaN,NaN,NaN,NaN
28,2017-04-15,2021-07-05 09:00:00,40.659714,-73.739815,0,0,0,0,0,0,...,driver inattention/distraction,unspecified,unspecified,NaN,NaN,sedan,sedan,NaN,NaN,NaN
29,2017-05-02,2021-07-05 07:36:00,40.865070,-73.871850,2,0,0,0,0,0,...,unsafe speed,unspecified,unspecified,unspecified,unspecified,sedan,station wagon/sport utility vehicle,station wagon/sport utility vehicle,station wagon/sport utility vehicle,sedan
30,2017-05-01,2021-07-05 11:00:00,40.558887,-74.197700,1,0,1,0,0,0,...,failure to yield right-of-way,NaN,NaN,NaN,NaN,sedan,NaN,NaN,NaN,NaN
31,2017-05-08,2021-07-05 14:03:00,40.678894,-73.903470,0,0,0,0,0,0,...,driver inattention/distraction,unspecified,NaN,NaN,NaN,bus,sedan,NaN,NaN,NaN
32,2017-04-25,2021-07-05 19:00:00,40.676373,-73.847010,0,0,0,0,0,0,...,passing or lane usage improper,unspecified,NaN,NaN,NaN,sedan,NaN,NaN,NaN,NaN
33,2017-05-05,2021-07-05 12:30:00,40.844870,-73.920680,0,0,0,0,0,0,...,following too closely,unspecified,NaN,NaN,NaN,station wagon/sport utility vehicle,station wagon/sport utility vehicle,NaN,NaN,NaN
34,2017-04-29,2021-07-05 03:30:00,40.599243,-73.752495,0,0,0,0,0,0,...,unspecified,unspecified,unspecified,NaN,NaN,sedan,sedan,sedan,NaN,NaN
35,2017-04-16,2021-07-05 11:25:00,40.804700,-73.831410,0,0,0,0,0,0,...,unsafe lane changing,unspecified,NaN,NaN,NaN,station wagon/sport utility vehicle,sedan,NaN,NaN,NaN
36,2017-04-25,2021-07-05 19:30:00,NaN,NaN,0,0,0,0,0,0,...,failure to yield right-of-way,unspecified,NaN,NaN,NaN,sedan,sedan,NaN,NaN,NaN
37,2017-04-26,2021-07-05 15:00:00,40.763287,-73.803580,1,0,0,0,0,0,...,unsafe lane changing,backing unsafely,NaN,NaN,NaN,station wagon/sport utility vehicle,station wagon/sport utility vehicle,NaN,NaN,NaN
38,2017-05-06,2021-07-05 06:20:00,40.651733,-73.930390,1,0,1,0,0,0,...,failure to yield right-of-way,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,2017-04-20,2021-07-05 23:00:00,40.717550,-73.999320,0,0,0,0,0,0,...,driver inattention/distraction,driver inattention/distraction,NaN,NaN,NaN,station wagon/sport utility vehicle,station wagon/sport utility vehicle,NaN,NaN,NaN
40,2017-04-14,2021-07-05 10:05:00,40.740944,-74.005370,0,0,0,0,0,0,...,passing or lane usage improper,unspecified,NaN,NaN,NaN,box truck,station wagon/sport utility vehicle,NaN,NaN,NaN
41,2017-05-01,2021-07-05 21:20:00,40.637222,-73.959800,1,0,1,0,0,0,...,driver inattention/distraction,NaN,NaN,NaN,NaN,sedan,NaN,NaN,NaN,NaN
42,2017-04-19,2021-07-05 10:58:00,40.736668,-73.997345,0,0,0,0,0,0,...,backing unsafely,unspecified,NaN,NaN,NaN,sedan,sedan,NaN,NaN,NaN
43,2017-05-04,2021-07-05 19:15:00,40.631973,-74.087690,0,0,0,0,0,0,...,driver inattention/distraction,unspecified,NaN,NaN,NaN,station wagon/sport utility vehicle,motorcycle,NaN,NaN,NaN
44,2017-04-23,2021-07-05 12:30:00,40.677616,-73.928290,0,0,0,0,0,0,...,driver inattention/distraction,driver inattention/distraction,NaN,NaN,NaN,sedan,station wagon/sport utility vehicle,NaN,NaN,NaN
45,2017-05-03,2021-07-05 10:00:00,40.722400,-73.991650,1,0,0,0,1,0,...,obstruction/debris,unspecified,NaN,NaN,NaN,bike,sedan,NaN,NaN,NaN
46,2017-04-15,2021-07-05 21:50:00,40.726986,-73.985756,0,0,0,0,0,0,...,driver inattention/distraction,NaN,NaN,NaN,NaN,station wagon/sport utility vehicle,NaN,NaN,NaN,NaN
47,2017-05-07,2021-07-05 12:55:00,40.710144,-74.002556,0,0,0,0,0,0,...,driver inexperience,NaN,NaN,NaN,NaN,sedan,NaN,NaN,NaN,NaN
48,2017-04-27,2021-07-05 17:30:00,40.843212,-73.838940,0,0,0,0,0,0,...,turning improperly,unspecified,NaN,NaN,NaN,sedan,sedan,NaN,NaN,NaN
49,2017-04-14,2021-07-05 17:20:00,40.603283,-74.003210,1,0,0,0,1,0,...,pedestrian/bicyclist/other pedestrian error/co...,unspecified,NaN,NaN,NaN,station wagon/sport utility vehicle,bike,NaN,NaN,NaN